
.body{
    width: 100%;
    display: flex;
    
    
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
   
}

.heading{
    display: flex;
    width: 50%;
    justify-content: center;
   
    
    
}
.box{
    width: 100%;
    height: 100%;
   
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card{
    width: 20%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
}
    
.card2{
    border-radius: 2%;
    
    
    background-color: rgb(0,0, 0,0.5);
    backdrop-filter: blur(20px);
    z-index: 2;
    display: flex;
    flex-direction: column;
  
    
}

.card2 p{
    font-size: 10px;
    color: white;
    padding-left: 10px;
}
.card2 a {
    
    font-size: calc(15% + 14px);
}
.card text{

    content: 'delete';
    position: absolute;
    
    bottom: -25px;
    padding: 6% 10% 5% 10%;
    z-index: 1;
    background-color: red;
    box-shadow: 0 -10px 0px white;
    color: white;
    font-size: calc(10% + 10px);
    text-transform: uppercase;
    border-radius: 8%;
    box-shadow: 0px 15px 100px rgba(0, 0, 0, 1);
    transition: z-index 1s;
    cursor: pointer;

}
.card text:hover{

    animation: spring 1s linear;
    z-index: 2;

}

@keyframes spring {

    0% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px)}
    
}



h1{
    letter-spacing: 2px;
    display: flex;
    color: wheat;
    font-size: calc(40% + 20px);
    padding: calc(3% + 2px);
    text-align: center;
    position: relative;
    

}

h1::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 3px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition: all .5s;
}

h1::after{

    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    border-radius: 3px;
    height: 100%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: all .5s;
}

h1:hover::before{
    width: 20px;
    height: 20px;
}

h1:hover::after{
    width: 20px;
    height: 20px;
}

