circle{
    fill: none;
      
}

svg{
  transform: rotateY(180deg) rotateZ(180deg);
}

.ideal{
    
    stroke-width: 10px;
}
.progress{

    stroke: white;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 800;
    stroke-dashoffset: -725;
    
    animation: skills 2s linear;
    animation-fill-mode: forwards;
}


svg text{
   font-size: 20px;
   transform-origin: center;
   transform: rotateZ(180deg);
}

@keyframes skills {

    0% { stroke-dashoffset: -725;}
    100% {stroke-dashoffset: -100;}
    
}